.createNote{
    width: 60%;
    margin: 3em auto;
}
.createNote input{
    font-size: 2em;
    min-width: 100%;
    overflow-x: hidden;
    resize: vertical;
}
.createNote textarea{
    font-size: 2em;
    min-width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    resize:none;
    text-align: justify;
}
.unvisible{
    display: none;
}

